<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eren - Home</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/dark.css">

  <link rel="icon" type="image/x-icon" href="https://emilyfightscrime.com/wp-content/uploads/2017/03/cropped-e-favicon.png">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('include/header.ejs') %>
  <%- include('pages/main.ejs') %>
  <%- include('pages/github.ejs') %>
  <%- include('pages/npm.ejs') %>
  <%- include('pages/techno.ejs') %>
  <%- include('pages/footer.ejs') %>
</body>

</html>